<div class="footer">
<div class="container">
	<div class="nav-social">
		<ul class="nav">
			<li><a class="icon-social-facebook" href="#"></a></li>
			<li><a class="icon-social-google-plus" href="#"></a></li>
			<li><a class="icon-social-instagram" href="#"></a></li>
			<li><a class="icon-social-twitter" href="#"></a></li>
		</ul>
	</div>
</div>
</div>